.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  line-height: 2;
}

.App-horiz-layout {
	display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 5%;
  white-space: nowrap;
}

.Profile-link {
  color: #61dafb;
}
